<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>KNU Judge</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />

    <script src="jquery-3.6.0.min.js"></script>
    <script src="/js/logout.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="jquery.counterup.min.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $('.counter').counterUp({
                delay: 10,
                time: 1000
            });
        });
    </script>
</head>

<body>
    <!-- Responsive navbar-->
    <%- include('layouts/navbar'); -%>
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <div class="text-center my-5">
                        <h1 class="display-5 fw-bolder text-white mb-2">KNU Online Judge</h1>
                        <p class="lead text-white-50 mb-4">프로그래밍 문제를 풀고 온라인으로 채점받을 수 있는 곳입니다.</p>
                        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                            <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#recent">Get Started</a>
                            <a class="btn btn-outline-light btn-lg px-4" href="#contact">Contact</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Overview section-->
    <section class="py-3 border-bottom">
        <div class="container px-5 my-5">
            <div class="row gx-4 justify-content-center">
                <!-- Problem-->
                <div class="col-lg-6 col-xl-3">
                    <div class="card mb-5 mb-xl-0">
                        <div class="card-body p-4 text-center">
                            <div class="display-4 fw-bold counter">153</div>
                            <div class="text-muted">전체 문제</div>
                        </div>
                    </div>
                </div>
                <!-- Community-->
                <div class="col-lg-6 col-xl-3">
                    <div class="card mb-5 mb-xl-0">
                        <div class="card-body p-4 text-center">
                            <div class="display-4 fw-bold counter">13</div>
                            <div class="text-muted">전체 게시글</div>
                        </div>
                    </div>
                </div>
                <!-- User-->
                <div class="col-lg-6 col-xl-3">
                    <div class="card">
                        <div class="card-body p-4 text-center">
                            <div class="display-4 fw-bold counter">35</div>
                            <div class="text-muted">전체 멤버</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Recent section-->
    <section class="bg-light py-5 border-bottom" id="recent">
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h2 class="h4 fw-bolder"><a class="home-link" href="/problem_list">최근 문제</a></h2>
                    <hr class="mb-4">
                    <% for (var i=0; i < num[0]; i++) { %>
                        <div class="card mb-1">
                            <div class="card-body"><%=i+1%>. <a href="problem_detail/<%= problems[i]._id %>"><%=problems[i].Title %></a></div>
                        </div>
                        <% } %>
                </div>
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h2 class="h4 fw-bolder"><a class="home-link" href="/community_list">최근 게시글</a></h2>
                    <hr class="mb-4"> 
                    <% for (var i=0; i < num[1]; i++) { %>
                        <div class="card mb-1">
                            <div class="card-body"><%=i+1%>. <a href="community_detail/<%= posts[i]._id %>"><%=posts[i].Title %></a></div>
                        </div>
                        <% } %>
                </div>
                <div class="col-lg-4">
                    <h2 class="h4 fw-bolder"><a class="home-link" href="/ranking">사용자 순위</a></h2>
                    <hr class="mb-4">
                    <% for (var i=0; i < num[2]; i++) { %>
                        <div class="card mb-1">
                            <div class="card-body"><%=i+1%>. <%= users[i].Nickname %></div>
                        </div>
                        <% } %>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact section-->
    <section class="py-5" id="contact">
        <div class="container px-5 my-5 px-5">
            <div class="text-center mb-5">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i>
                </div>
                <h2 class="fw-bolder">Get in touch</h2>
                <p class="lead mb-0">We'd love to hear from you</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <form>
                        <div class="form-floating mb-3">
                            <input class="form-control" id="inputName" type="text" placeholder="Enter your name..." />
                            <label for="inputName">Full name</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" id="inputEmail" type="email" placeholder="name@example.com" />
                            <label for="inputEmail">Email address</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" id="inputPhone" type="tel" placeholder="(123) 456-7890" />
                            <label for="inputPhone">Phone number</label>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea class="form-control" id="inputMessage" type="text"
                                placeholder="Enter your message here..." style="height: 10rem"></textarea>
                            <label for="inputMessage">Message</label>
                        </div>
                        <div class="d-grid"><button class="btn btn-primary btn-lg" type="submit">Submit</button></div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container px-5">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>