<!DOCTYPE html>
<html lang="kor">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>PROBLEM DETAIL</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="<%= frontURL%>/css/styles.css" rel="stylesheet" />
    <link href="<%= frontURL%>/css/prodet.css" rel="stylesheet" />
    <script src="<%= frontURL%>/jquery-3.6.0.min.js"></script>
    <script>
        function request() {
            let url_string = window.location.href
            let arr = url_string.split("/")
            // console.log(arr)
            const pro_id = arr[arr.length-1]
            const code = document.getElementById("code").value;
            const obj = { Code: code, RefProblem: pro_id };
            console.log(obj);
            $.ajax({
                type: 'POST',
                url: "<%= backURL%>/score",
                accepts: "application/json",
                data: JSON.stringify(obj),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data) {
                        alert("문제가 제출되었습니다.");
                    }
                    else {
                        alert("작성오류");
                    }
                    window.open('/problem_list', '_self')
                },
                error: function (a, b, c) {
                    console.log(a);
                    console.log(b);
                    console.log(c);
                },
                beforeSend: function (xhr) {
                    /* Authorization header */
                    xhr.setRequestHeader("Authorization", "bearer " + localStorage.getItem("token"));

                }
            });

        }
    </script>
    <script src="<%= frontURL%>/js/logout.js"></script>
</head>

<body>
    <!-- Responsive navbar-->
    <%- include('layouts/navbar'); -%>
        </br>
        <h2>&nbsp; 문제</h2>
        <hr></br>
        <table class="detail_table" col="4" row="5">
            <tr>
                <td id="title" width="50">
                    <h4>제목</h4>
                </td>
                <td id="content" width="200">
                    <a>
                        <%= data.Title %>
                    </a>
                </td>
            </tr>
            <tr>
                <td id="title" width="50">
                    <h4>난이도</h4>
                </td>
                <td colspan="3">
                    <a id="content" width="200">
                        <%= data.Difficulty %>
                    </a>
                </td>
            </tr>
            <tr>
                <td colspan="2" rowspan="5">
                    <%= data.Description %>
                </td>
            </tr>
        </table>
        </br>
        <div>
            <span>
                <h5 class="header">&nbsp;입력 예&nbsp;</h5>
            </span>
            <hr class="case_hr">
            <a id="case">
                <%= data.TestCase[0].Input %>
            </a></br></br>
        </div>
        <div>
            <span>
                <h5 class="header">&nbsp;출력 예&nbsp;</h5>
            </span>
            <hr class="case_hr">
            <a id="case">
                <%= data.TestCase[0].Output %>
            </a></br></br>
        </div>
        <div>
            <span>
                <h5 class="header">&nbsp;알고리즘 분류&nbsp;</h5>
            </span>
            <hr class="case_hr">
            <a id="case">
                <%= data.Keyword%>
            </a></br></br>
        </div>
        <div>
            <span>
                <h5 class="header">&nbsp;Code&nbsp;</h5>
            </span>
            <hr class="case_hr">
            <div><textarea class="case" id="code" value=""></textarea></br></div>
        </div>
        <div class="wrap">
            <button  type="button" class="button" onclick="request()">SUBMIT</button>
        </div>
        </br>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-5">
                <p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="<%= frontURL%>/js/scripts.js"></script>
</body>

</html>