<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>KNU Judge</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        <link href="css/list.css" rel="stylesheet" />
        <style>
            #problem {
                color: white;
                font-weight: 400;
            }
        </style>
    </head>
    <body>
        <!-- Responsive navbar-->
        <%- include('layouts/navbar'); -%>

        <div class="default">
        <p class="write_btn"><a href="/problem_submit">출제하기</a></p>
        <!-- table -->
        <table class="list-table">
            <thead>
            <tr>
              <th id="p_num">문제 번호</th>
              <th id="p_title">문제 제목</th>
              <th id="difficulty">난이도</th>
              <th id="class">분류</th>
              <th id="correct_num">맞은 사람</th>
              <th id="submit">제출</th>
              <th id="correct_rate">정답 비율</th>
            </tr>
            </thead>
            <tbody>
            <% for (var i = 0; i < problems.length; i++) { %>
            <tr>
              <td><%= i %></td>
              <!-- <td>문제입니다.</td> -->
              <td><%= problems[i].Title %></td>
              <td><%= problems[i].Difficulty %></td>
              <td><%= problems[i].Keyword %></td>
              <td><%= problems[i].Correct %></td>
              <td><%= problems[i].Submit %></td>
              <td id="last"><%= problems[i].Rate %></td>
            </tr>
            <% } %>
            </tbody>
          </table>   
          </div>       
    
        <!-- Footer-->
        <%- include('layouts/footer'); -%>
        <%- include('layouts/scripts'); -%>
    </body>
</html>
