<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>KNU Judge</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        <link href="css/list.css" rel="stylesheet" />
        <style>
            #ranking {
                color: white;
                font-weight: 400;
            }
        </style>
        <script src="jquery-3.6.0.min.js"></script>
        <script src="js/logout.js"></script>
    </head>
    <body>
        <!-- Responsive navbar-->
        <%- include('layouts/navbar') -%>
        <div class="default">
        <!-- table -->
        <table class="list-table">
            <thead>
            <tr>
              <th id="rank">등수</th>
              <th id="user_id">아이디</th>
              <th id="message">상태 메시지</th>
              <th id="correct_num">맞은 문제</th>
              <th id="submit">제출</th>
              <th id="correct_rate">정답 비율</th>
            </tr>
            </thead>
            <tbody>
            <% for (var i = 0; i < users.length; i++) { %>
            <tr>
              <td>
                  <%= i+1 %>
              </td>
              <td><%= users[i].Nickname %></td>
              <td><%= users[i].StateMessage %></td>
              <td><%= users[i].Score %></td>
              <td><%= (users[i].NumOfSubmit == 0 || users[i].NumOfSubmit == undefined)?"None":users[i].NumOfSubmit %></td>
              <td id="last"><%= (users[i].NumOfSubmit == 0 || users[i].NumOfSubmit == undefined)?0:(users[i].Score)/(users[i].NumOfSubmit) %></td>

            </tr>
            <% } %>
            </tbody>
          </table>   
          </div>       
    
        <!-- Footer-->
        <%- include('layouts/footer') -%>

        <!-- Bootstrap core JS-->
        <%- include('layouts/scripts') -%>

    </body>
</html>
